{
  "name": "{{packageName}}",
  "version": "1.0.0",
  "description": "{{description}}",
  "main": "index.js",
  "types": "index.d.ts",
  "scripts": {
    "test": "mocha -r ts-node/register test/**/*.test.ts",
    "build": "tsc -p .",
    "start": "tsc -p . -w"
  },
  "devDependencies": {
    "@types/node": "^12.12.14",
    "@types/chai": "^4.2.5",
    "@types/mocha": "^5.2.7",
    "chai": "^4.2.0",
    "mocha": "^6.2.2",
    "ts-node": "^8.5.2",
    "tslint": "^5.20.1",
    "typescript": "^3.7.2"
  },
  "keywords": [
    {{# keywords}}
      "{{.}}"
    {{/keywords}}
  ],
  "author": "{{author}}",
  "license": "ISC"
}
